@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
html, body{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}
.s1 {
/*font settings*/
font-family: titillium web, arial;
  align-items: center;
text-align: center;
/*background settings*/
background-image: linear-gradient(230deg, #ff3838, #FFC312);
background-size: cover;
background-position: center;
/*html settings*/
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}
.s1 h1{
/*font settings*/
font-size: 70px;
}
.s1 h2{
/*font settings*/
font-size: 50px
}
.s1 button{
  background-image: linear-gradient(120deg, #18dcff, #32ff7e);
border-radius:9px;
display:inline-block;
cursor:pointer;
color: #000;
font-size:20px;
padding:10px 24px;
text-decoration:none;
}
.s1 button:hover {
	animation: buttonchange 0.5s, buttonchange2 0.5s;
}
.s1 button:active {
	position:relative;
	top:1px;
}
@keyframes buttonchange {
  from {background-image: linear-gradient(120deg, #18dcff, #32ff7e);}
  to {background-image: linear-gradient(220deg, #4b4b4b, #808e9b);}
}
@keyframes buttonchange2 {
  from {color: #000;}
  to {color: #ecf0f1}
}
  
