@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
html, body{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}
.s1 {
/*font settings*/
font-family: titillium web, arial;
text-align: center;
/*background settings*/
background-image: linear-gradient(230deg, #d35400, #9b59b6);
background-size: cover;
background-position: center;
}
.s1 h1{
/*font settings*/
font-size: 70px;
}
.s1 h2{
/*font settings*/
font-size: 50px
}
