@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Lato);
.header {
  background-color: red;
  background-image: linear-gradient(to right, red, black);
  padding: 20px;
  text-align: middle;
}
html {
  background-color: white;
  background-image: linear-gradient(to right, white, black);
}
    #grad1 {
  height: 200px;
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, white, black); /* Standard syntax (must be last) */
}
    h1 {
      color: #000099;
      font-size: 48px;
      font-family: Quicksand, Lato, Geneva, sans-serif;
    }
    h2 {
      color: #000099;
      font-size: 36px;
      font-family: Quicksand, Lato, Geneva, sans-serif;
    }
li {
  font-family: Quicksand, Lato, Geneva;
  color: red;
}
    /* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: darkgray;
  
}
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: darkgray;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
  background-color: darkgray;
  color: darkgray;
}
    .btn {
  background-color: black;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}
.btn:hover {
  background-color: orange;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.active {
  background-color: orange;
  .fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
    
